In [1]:
import pandas as pd
import numpy as np
import requests
import json
import math

gkey = "AIzaSyCJCoD8hXTCvE4Wswuu-Kvra5FjeRFJSxY"

In [2]:
df = pd.read_csv("city_muni.csv")

In [3]:
df

,City,Zip Code,County,Latitude,Longitude,Municipality,Muni Code
0,Absecon,8201,Atlantic,39.457517,-74.509140,Absecon,101
1,Atlantic City,8401,Atlantic,39.364966,-74.439030,Atlantic City,102
2,Brigantine,8203,Atlantic,39.401801,-74.380170,Brigantine,103
3,Buena,8310,Atlantic,39.522686,-74.896840,Buena Borough,104
4,Cologne,8213,Atlantic,39.509208,-74.608557,Galloway Township,111
...,...,...,...,...,...,...,...
578,Phillipsburg,8865,Warren,40.689123,-75.172430,Phillipsburg,2119
579,Port Murray,7865,Warren,40.783175,-74.909340,Mansfield Township,2116
580,Stewartsville,8886,Warren,40.694938,-75.111810,Greenwich Township,2107
581,Vienna,7880,Warren,40.864844,-74.897002,Independence Township,2112
582,Washington,7882,Warren,40.753753,-74.996170,Washington Borough,2121

In [4]:
df[df["City"] == "Buena"]["Municipality"].to_string(index=False).strip()

'Buena Borough'

In [25]:
raildf = pd.read_csv("../NJ Transit Data/stopsR1.csv")

In [26]:
raildf

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id
0,1,95001,30TH ST. PHL.,NaN,39.956565,-75.182327,5961
1,2,95002,ABSECON,NaN,39.424333,-74.502094,333
2,3,95003,ALLENDALE,NaN,41.030902,-74.130957,2893
3,4,95004,ALLENHURST,NaN,40.237659,-74.006769,5453
4,5,95005,ANDERSON STREET,NaN,40.894458,-74.043781,1357
...,...,...,...,...,...,...,...
220,42545,31061,PENN STATION LIGHT RAIL ARRIVAL,NaN,40.734810,-74.163603,0
221,42673,31145,8TH STREET LIGHT RAIL STATION,NaN,40.654298,-74.129142,0
222,43288,31898,PENNSAUKEN TRANSIT CENTER LIGHT RAIL STA,NaN,39.978276,-75.061962,336
223,43298,95183,PENNSAUKEN TRANSIT CENTER,NaN,39.977769,-75.061796,5197
224,43599,95184,WESMONT,NaN,40.854979,-74.096951,1101

In [30]:
cities = []
counties = []
for i,r in raildf.iterrows():
    lat= r['stop_lat']
    lng = r['stop_lon']
    latlng = f"{lat},{lng}"
    url = ('https://maps.googleapis.com/maps/api/geocode/json?latlng={0}&key={1}').format(latlng, gkey)
    geo_data2 = requests.get(url).json()
    curCity= "NA"
    curCounty = "NA"
    for x in geo_data2["results"][0]["address_components"]:
        search="nf"
        for s in x["types"]:
            if (s == "locality"):
                search = "city"
            elif (s == "administrative_area_level_2"):
                search = "county"
        if search == "city":
            curCity = x["long_name"] 
        if (search == "county"):
            curCounty = x["long_name"] 
        
    cities.append(curCity)
    counties.append(curCounty)

In [31]:
raildf["City"] = cities
raildf["County"] = counties
raildf

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,City,County
0,1,95001,30TH ST. PHL.,NaN,39.956565,-75.182327,5961,Philadelphia,Philadelphia County
1,2,95002,ABSECON,NaN,39.424333,-74.502094,333,Absecon,Atlantic County
2,3,95003,ALLENDALE,NaN,41.030902,-74.130957,2893,Allendale,Bergen County
3,4,95004,ALLENHURST,NaN,40.237659,-74.006769,5453,Allenhurst,Monmouth County
4,5,95005,ANDERSON STREET,NaN,40.894458,-74.043781,1357,Hackensack,Bergen County
...,...,...,...,...,...,...,...,...,...
220,42545,31061,PENN STATION LIGHT RAIL ARRIVAL,NaN,40.734810,-74.163603,0,Newark,Essex County
221,42673,31145,8TH STREET LIGHT RAIL STATION,NaN,40.654298,-74.129142,0,Bayonne,Hudson County
222,43288,31898,PENNSAUKEN TRANSIT CENTER LIGHT RAIL STA,NaN,39.978276,-75.061962,336,Pennsauken Township,Camden County
223,43298,95183,PENNSAUKEN TRANSIT CENTER,NaN,39.977769,-75.061796,5197,Pennsauken Township,Camden County
224,43599,95184,WESMONT,NaN,40.854979,-74.096951,1101,Wood-Ridge,Bergen County

In [24]:
target_city2="39.424333	-74.502094"
target_url2 = ('https://maps.googleapis.com/maps/api/geocode/json?latlng={0}&key={1}').format(target_city2, gkey)
geo_data2 = requests.get(target_url2).json()
print(json.dumps(geo_data2["results"][0],indent=2))

{
  "address_components": [
    {
      "long_name": "113",
      "short_name": "113",
      "types": [
        "street_number"
      ]
    },
    {
      "long_name": "Ohio Avenue",
      "short_name": "Ohio Ave",
      "types": [
        "route"
      ]
    },
    {
      "long_name": "Absecon",
      "short_name": "Absecon",
      "types": [
        "locality",
        "political"
      ]
    },
    {
      "long_name": "Atlantic County",
      "short_name": "Atlantic County",
      "types": [
        "administrative_area_level_2",
        "political"
      ]
    },
    {
      "long_name": "New Jersey",
      "short_name": "NJ",
      "types": [
        "administrative_area_level_1",
        "political"
      ]
    },
    {
      "long_name": "United States",
      "short_name": "US",
      "types": [
        "country",
        "political"
      ]
    },
    {
      "long_name": "08201",
      "short_name": "08201",
      "types": [
        "postal_code"
      ]
    },
    {
      "long_name": "2519",
      "short_name": "2519",
      "types": [
        "postal_code_suffix"
      ]
    }
  ],
  "formatted_address": "113 Ohio Ave, Absecon, NJ 08201, USA",
  "geometry": {
    "bounds": {
      "northeast": {
        "lat": 39.4240828,
        "lng": -74.5023573
      },
      "southwest": {
        "lat": 39.4239132,
        "lng": -74.50259369999999
      }
    },
    "location": {
      "lat": 39.4239848,
      "lng": -74.50249629999999
    },
    "location_type": "ROOFTOP",
    "viewport": {
      "northeast": {
        "lat": 39.42534698029149,
        "lng": -74.50112651970849
      },
      "southwest": {
        "lat": 39.4226490197085,
        "lng": -74.50382448029151
      }
    }
  },
  "place_id": "ChIJf_HHoKvowIkR7tli6qEMKzU",
  "types": [
    "premise"
  ]
}

In [43]:
munid = []
for i1,r1 in raildf.iterrows():
    city = r1['City']
    county= r1['County'].split(' ')[0]
    print(f"City: {city}\tCounty: {county}")
    munid.append(df[((df["City"] == city) | (df["Municipality"] == city)) & (df["County"] == county)]["Muni Code"].to_string(index=False).strip())

City: Philadelphia	County: Philadelphia
City: Absecon	County: Atlantic
City: Allendale	County: Bergen
City: Allenhurst	County: Monmouth
City: Hackensack	County: Bergen
City: NA	County: Hunterdon
City: Asbury Park	County: Monmouth
City: Atco	County: Camden
City: Atlantic City	County: Atlantic
City: Woodbridge Township	County: Middlesex
City: Basking Ridge	County: Somerset
City: Toms River	County: Ocean
City: Montclair	County: Essex
City: Belmar	County: Monmouth
City: Berkeley Heights	County: Union
City: Bernardsville	County: Somerset
City: Bloomfield	County: Essex
City: Boonton	County: Morris
City: Bound Brook	County: Somerset
City: Bradley Beach	County: Monmouth
City: East Orange	County: Essex
City: Bridgewater Township	County: Somerset
City: Fair Lawn	County: Bergen
City: Campbell Hall	County: Orange
City: Chatham	County: Morris
City: Cherry Hill	County: Camden
City: Clifton	County: Passaic
City: Morris Township	County: Morris
City: Roselle Park	County: Union
City: Cranford	County: Union
City: Clifton	County: Passaic
City: Denville	County: Morris
City: Dover	County: Morris
City: Dunellen	County: Middlesex
City: East Orange	County: Essex
City: Edison	County: Middlesex
City: Egg Harbor City	County: Atlantic
City: Long Branch	County: Monmouth
City: Elizabeth	County: Union
City: Emerson	County: Bergen
City: Hackensack	County: Bergen
City: Fanwood	County: Union
City: Far Hills	County: Somerset
City: Garfield	County: Bergen
City: Garwood	County: Union
City: Long Hill	County: Morris
City: NA	County: Somerset
City: Glen Ridge	County: Essex
City: Glen Rock	County: Bergen
City: Glen Rock	County: Bergen
City: Hackettstown	County: Warren
City: Hammonton	County: Atlantic
City: Harriman	County: Orange
City: Hawthorne	County: Passaic
City: Hazlet	County: Monmouth
City: High Bridge	County: Hunterdon
City: City of Orange	County: Essex
City: Hillsdale	County: Bergen
City: Hoboken	County: Hudson
City: Ho-Ho-Kus	County: Bergen
City: Lyndhurst	County: Bergen
City: Roxbury Township	County: Morris
City: Lebanon	County: Hunterdon
City: Wayne	County: Morris
City: Linden	County: Union
City: Lindenwold	County: Camden
City: Little Falls	County: Passaic
City: Little Silver	County: Monmouth
City: Long Branch	County: Monmouth
City: Lyndhurst	County: Bergen
City: NA	County: Somerset
City: Madison	County: Morris
City: Mahwah	County: Bergen
City: Manasquan	County: Monmouth
City: Maplewood	County: Essex
City: Iselin	County: Middlesex
City: Metuchen	County: Middlesex
City: Middletown	County: Monmouth
City: Scotchtown	County: Orange
City: NA	County: Essex
City: Long Hill	County: Morris
City: Montclair	County: Essex
City: Montvale	County: Bergen
City: Morris Plains	County: Morris
City: Morristown	County: Morris
City: Mount Olive Township	County: Morris
City: Denville	County: Morris
City: Montclair	County: Essex
City: Mountain Lakes	County: Morris
City: South Orange	County: Essex
City: Wayne	County: Passaic
City: New Providence	County: Union
City: Nanuet	County: Rockland
City: Netcong	County: Morris
City: Plainfield	County: Union
City: New Brunswick	County: Middlesex
City: Summit	County: Union
City: New York	County: New
City: Newark	County: Essex
City: Newark	County: Essex
City: Branchburg	County: Somerset
City: Elizabeth	County: Union
City: River Edge	County: Bergen
City: Oradell	County: Bergen
City: City of Orange	County: Essex
City: NA	County: Orange
City: Park Ridge	County: Bergen
City: Passaic	County: Passaic
City: Paterson	County: Passaic
City: NA	County: Somerset
City: Pearl River	County: Rockland
City: Perth Amboy	County: Middlesex
City: Plainfield	County: Union
City: Garfield	County: Bergen
City: Point Pleasant Beach	County: Ocean
City: Port Jervis	County: Orange
City: Princeton	County: Mercer
City: West Windsor Township	County: Mercer
City: Fair Lawn	County: Bergen
City: Rahway	County: Union
City: Ramsey	County: Bergen
City: Raritan	County: Somerset
City: Red Bank	County: Monmouth
City: Ridgewood	County: Bergen
City: River Edge	County: Bergen
City: East Rutherford	County: Bergen
City: Beaverdam Lake-Salisbury Mills	County: Orange
City: NA	County: Essex
City: Sloatsburg	County: Rockland
City: Somerville	County: Somerset
City: South Amboy	County: Middlesex
City: South Orange	County: Essex
City: Spring Lake	County: Monmouth
City: Spring Valley	County: Rockland
City: Long Hill	County: Morris
City: Suffern	County: Rockland
City: Summit	County: Union
City: Hasbrouck Heights	County: Bergen
City: Montville	County: Morris
City: Trenton	County: Mercer
City: NA	County: Orange
City: Montclair	County: Essex
City: Waldwick	County: Bergen
City: Montclair	County: Essex
City: Montclair	County: Essex
City: Bloomfield	County: Essex
City: Westfield	County: Union
City: Westwood	County: Bergen
City: NA	County: Hunterdon
City: Woodbridge Township	County: Middlesex
City: Woodcliff Lake	County: Bergen
City: Wood-Ridge	County: Bergen
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Weehawken	County: Hudson
City: Newark	County: Essex
City: Newark	County: Essex
City: Weehawken	County: Hudson
City: Newark	County: Essex
City: Newark	County: Essex
City: Hamilton Township	County: Mercer
City: New Brunswick	County: Middlesex
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Bayonne	County: Hudson
City: Bayonne	County: Hudson
City: Matawan	County: Monmouth
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Newark	County: Essex
City: Belleville	County: Essex
City: Bloomfield	County: Essex
City: Little Falls	County: Passaic
City: Union	County: Union
City: Secaucus	County: Hudson
City: Secaucus	County: Hudson
City: Bayonne	County: Hudson
City: Trenton	County: Mercer
City: Trenton	County: Mercer
City: Trenton	County: Mercer
City: Bordentown	County: Burlington
City: Florence Township	County: Burlington
City: Florence Township	County: Burlington
City: Burlington	County: Burlington
City: Burlington	County: Burlington
City: Beverly	County: Burlington
City: Delanco	County: Burlington
City: Riverside	County: Burlington
City: Cinnaminson	County: Burlington
City: Riverton	County: Burlington
City: Palmyra	County: Burlington
City: Pennsauken Township	County: Camden
City: Pennsauken Township	County: Camden
City: Camden	County: Camden
City: Camden	County: Camden
City: Camden	County: Camden
City: Camden	County: Camden
City: Ramsey	County: Bergen
City: Jersey City	County: Hudson
City: Jersey City	County: Hudson
City: Union City	County: Hudson
City: North Bergen	County: Hudson
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Newark	County: Essex
City: Hoboken	County: Hudson
City: Roxbury Township	County: Morris
City: Wayne	County: Passaic
City: Newark	County: Essex
City: Bayonne	County: Hudson
City: Pennsauken Township	County: Camden
City: Pennsauken Township	County: Camden
City: Wood-Ridge	County: Bergen

In [46]:
munids = []
for m in munid:
    if (len(m)>0):
        print(m)

Series([], )
101
201
1302
223
Series([], )
1304
435
102
1225
 1225
 1225
 1225
 1225
 1225
 1225
 1225
1802
1508
713
1307
2001
1803
702
1401
1804
1308
705
1806
 1806
217
Series([], )
1404
410
1602
Series([], )
2015
2003
1602
1408
1409
1203
705
1205
107
1327
2004
214
223
2005
1807
221
2006
Series([], )
Series([], )
708
222
222
2108
113
Series([], )
1604
1318
1014
Series([], )
227
905
Series([], )
232
1436
 1436
 1436
 1436
1018
Series([], )
2009
Series([], )
1605
1325
1327
232
Series([], )
1417
233
1329
711
1225
1209
1332
Series([], )
Series([], )
Series([], )
713
236
1423
1424
1427
 1427
1408
713
1425
719
1614
2011
Series([], )
1428
2012
1213
2018
Series([], )
714
714
Series([], )
2004
252
244
Series([], )
Series([], )
247
1607
1608
Series([], )
Series([], )
1216
2012
221
1526
Series([], )
1114
1113
217
2013
248
1816
1339
251
252
212
Series([], )
Series([], )
Series([], )
1818
1220
719
1347
Series([], )
Series([], )
Series([], )
2018
225
1421
1111
Series([], )
713
264
713
713
702
2020
267
Series([], )
1225
 1225
 1225
 1225
 1225
 1225
 1225
 1225
268
Series([], )
714
714
714
714
714
714
911
714
714
911
714
714
Series([], )
1213
906
906
906
906
906
906
906
901
901
1331
906
906
906
714
701
702
1605
2019
909
909
901
1111
1111
1111
303
315
 315
315
 315
305
305
302
Series([], )
330
Series([], )
331
327
427
427
408
408
408
408
248
906
906
910
908
714
714
714
714
714
905
1436
 1436
 1436
 1436
1614
714
901
427
427
Series([], )

In [53]:
raildf2 = raildf[raildf["City"] != "Philadelphia"]
raildf2 = raildf2[raildf2["County"] != "Rockland County"]

In [54]:
raildf2

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,City,County
1,2,95002,ABSECON,NaN,39.424333,-74.502094,333,Absecon,Atlantic County
2,3,95003,ALLENDALE,NaN,41.030902,-74.130957,2893,Allendale,Bergen County
3,4,95004,ALLENHURST,NaN,40.237659,-74.006769,5453,Allenhurst,Monmouth County
4,5,95005,ANDERSON STREET,NaN,40.894458,-74.043781,1357,Hackensack,Bergen County
5,6,95006,ANNANDALE,NaN,40.645173,-74.878569,5197,NA,Hunterdon County
...,...,...,...,...,...,...,...,...,...
220,42545,31061,PENN STATION LIGHT RAIL ARRIVAL,NaN,40.734810,-74.163603,0,Newark,Essex County
221,42673,31145,8TH STREET LIGHT RAIL STATION,NaN,40.654298,-74.129142,0,Bayonne,Hudson County
222,43288,31898,PENNSAUKEN TRANSIT CENTER LIGHT RAIL STA,NaN,39.978276,-75.061962,336,Pennsauken Township,Camden County
223,43298,95183,PENNSAUKEN TRANSIT CENTER,NaN,39.977769,-75.061796,5197,Pennsauken Township,Camden County
224,43599,95184,WESMONT,NaN,40.854979,-74.096951,1101,Wood-Ridge,Bergen County

In [55]:
raildf2.to_csv("../NJ Transit Data/stopsR1city.csv")

In [56]:
busdf = pd.read_csv("../NJ Transit Data/stopsB1.csv")

In [57]:
busdf

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id
0,162,10817,MAIN ST AT ADAMS AVE,NaN,39.395538,-74.519212,0
1,163,10837,MAIN ST AT DELILAH RD,NaN,39.405069,-74.510613,0
2,164,10811,MAIN ST AT DELILAH RD,NaN,39.404748,-74.511040,0
3,165,10820,MAIN ST AT BAYVIEW AVE,NaN,39.386739,-74.526992,0
4,166,10808,MAIN ST AT CEDARCREST AVE,NaN,39.409949,-74.506393,8195
...,...,...,...,...,...,...,...
16080,43908,33021,RT-47 1190'S OF NELSON AVE,NaN,39.581778,-75.051702,0
16081,43909,33037,PATERSON AVE AT MARSHALL ST,NaN,40.739455,-74.042933,336
16082,43910,32979,LOCUST AVE AT STRONG ST,NaN,40.854376,-74.109740,848
16083,43911,32976,MARKET ST 200'E OF PINE ST,NaN,40.900139,-74.118960,592
16084,43912,22349,PENNINGTON RD (RT. 31) 315'S OF DIVERTY RD,NaN,40.300688,-74.784081,0

In [58]:
cities = []
counties = []
for i,r in busdf.iterrows():
    lat= r['stop_lat']
    lng = r['stop_lon']
    latlng = f"{lat},{lng}"
    url = ('https://maps.googleapis.com/maps/api/geocode/json?latlng={0}&key={1}').format(latlng, gkey)
    geo_data2 = requests.get(url).json()
    curCity= "NA"
    curCounty = "NA"
    for x in geo_data2["results"][0]["address_components"]:
        search="nf"
        for s in x["types"]:
            if (s == "locality"):
                search = "city"
            elif (s == "administrative_area_level_2"):
                search = "county"
        if search == "city":
            curCity = x["long_name"] 
        if (search == "county"):
            curCounty = x["long_name"] 
        
    cities.append(curCity)
    counties.append(curCounty)

In [59]:
busdf["City"] = cities
busdf["County"] = counties
busdf

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,City,County
0,162,10817,MAIN ST AT ADAMS AVE,NaN,39.395538,-74.519212,0,Pleasantville,Atlantic County
1,163,10837,MAIN ST AT DELILAH RD,NaN,39.405069,-74.510613,0,Pleasantville,Atlantic County
2,164,10811,MAIN ST AT DELILAH RD,NaN,39.404748,-74.511040,0,Pleasantville,Atlantic County
3,165,10820,MAIN ST AT BAYVIEW AVE,NaN,39.386739,-74.526992,0,Pleasantville,Atlantic County
4,166,10808,MAIN ST AT CEDARCREST AVE,NaN,39.409949,-74.506393,8195,Pleasantville,Atlantic County
...,...,...,...,...,...,...,...,...,...
16080,43908,33021,RT-47 1190'S OF NELSON AVE,NaN,39.581778,-75.051702,0,Franklin,Gloucester County
16081,43909,33037,PATERSON AVE AT MARSHALL ST,NaN,40.739455,-74.042933,336,Hoboken,Hudson County
16082,43910,32979,LOCUST AVE AT STRONG ST,NaN,40.854376,-74.109740,848,Wallington,Bergen County
16083,43911,32976,MARKET ST 200'E OF PINE ST,NaN,40.900139,-74.118960,592,Elmwood Park,Bergen County
16084,43912,22349,PENNINGTON RD (RT. 31) 315'S OF DIVERTY RD,NaN,40.300688,-74.784081,0,Hopewell Township,Mercer County

In [60]:
busdf.to_csv("stopB1city.csv")