In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("city_muni.csv")

In [8]:
df

,City,Zip Code,County,Latitude,Longitude,Municipality,Muni Code
0,Absecon,8201,Atlantic,39.457517,-74.509140,Absecon,101
1,Atlantic City,8401,Atlantic,39.364966,-74.439030,Atlantic City,102
2,Brigantine,8203,Atlantic,39.401801,-74.380170,Brigantine,103
3,Buena,8310,Atlantic,39.522686,-74.896840,Buena Borough,104
4,Cologne,8213,Atlantic,39.509208,-74.608557,Galloway Township,111
...,...,...,...,...,...,...,...
578,Phillipsburg,8865,Warren,40.689123,-75.172430,Phillipsburg,2119
579,Port Murray,7865,Warren,40.783175,-74.909340,Mansfield Township,2116
580,Stewartsville,8886,Warren,40.694938,-75.111810,Greenwich Township,2107
581,Vienna,7880,Warren,40.864844,-74.897002,Independence Township,2112
582,Washington,7882,Warren,40.753753,-74.996170,Washington Borough,2121

In [14]:
df[df["City"] == "Buena"]["Municipality"].to_string(index=False).strip()

'Buena Borough'