In [1]:
import json
import requests
import pandas as pd

Walk_API = 'c8cffa1b89d77650b0f7f92b06c4462c'

In [22]:
query_link = 'http://api.walkscore.com/score?format=json&address=1119%8th%20Avenue%20Seattle%20WA%2098101&lat=47.6085&lon=-122.3295&transit=1&bike=1&wsapikey=' + Walk_API
q_l = 'http://api.walkscore.com/score?format=json&lat=40.728157&lon=-74.077644&transit=1&bike=1&wsapikey=' + Walk_API
query_link
q_l

'http://api.walkscore.com/score?format=json&lat=40.728157&lon=-74.077644&transit=1&bike=1&wsapikey=c8cffa1b89d77650b0f7f92b06c4462c'

In [14]:
walkabilityScore = requests.get(q_l).json()

In [19]:
walkScore = walkabilityScore['walkscore']

bikeScore = walkabilityScore['bike']['score']

In [23]:
zips = pd.read_csv('../ZipCodeCities/zipLatLong.csv')
zips.head()

   Zip Code        City     County   Latitude  Longitude
0      7001      Avenel  Middlesex  40.578996  -74.27987
1      7002     Bayonne     Hudson  40.666552  -74.11768
2      7003  Bloomfield      Essex  40.803000  -74.18895
3      7004   Fairfield      Essex  40.879049  -74.29378
4      7005     Boonton     Morris  40.912798  -74.41516

In [28]:
walkBaseURI = 'http://api.walkscore.com/score?format=json&transit=1&bike=1&wsapikey=' + Walk_API
walks = []
bikes = []

for index,row in zips.iterrows():
    lat = row['Latitude']
    lon = row['Longitude']
    walkURL = f"{walkBaseURI}&lat={lat}&lon={lon}"
    walkingstatus = requests.get(walkURL).json()
    walks.append(walkingstatus['walkscore'])
#     bikes.append(walkingstatus['bike']['score'])
#     print(walkURL)

In [31]:
walks

[63,
 93,
 59,
 47,
 50,
 49,
 19,
 54,
 54,
 88,
 87,
 78,
 44,
 59,
 5,
 82,
 58,
 77,
 19,
 59,
 19,
 83,
 69,
 92,
 73,
 86,
 70,
 83,
 99,
 67,
 44,
 79,
 71,
 17,
 71,
 44,
 60,
 83,
 89,
 76,
 77,
 9,
 13,
 86,
 88,
 19,
 52,
 27,
 95,
 80,
 7,
 18,
 89,
 35,
 61,
 44,
 26,
 79,
 34,
 16,
 32,
 3,
 85,
 90,
 63,
 88,
 20,
 66,
 40,
 36,
 12,
 78,
 76,
 39,
 38,
 88,
 84,
 94,
 79,
 88,
 35,
 24,
 97,
 63,
 60,
 82,
 82,
 82,
 57,
 94,
 87,
 63,
 97,
 80,
 79,
 70,
 35,
 89,
 75,
 80,
 11,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 72,
 73,
 58,
 71,
 74,
 89,
 35,
 60,
 100,
 82,
 89,
 82,
 98,
 97,
 82,
 82,
 90,
 82,
 73,
 82,
 42,
 7,
 26,
 52,
 65,
 32,
 3,
 0,
 33,
 50,
 2,
 21,
 36,
 52,
 9,
 41,
 64,
 23,
 45,
 22,
 21,
 57,
 74,
 51,
 68,
 88,
 18,
 72,
 26,
 30,
 21,
 20,
 4,
 15,
 81,
 38,
 20,
 5,
 5,
 2,
 5,
 18,
 94,
 78,
 88,
 69,
 99,
 76,
 5,
 52,
 5,
 5,
 5,
 61,
 80,
 70,
 71,
 77,
 5,
 5,
 5,
 5,
 85,
 18,
 61,
 76,
 81,
 48,
 82,
 12,
 3,
 89,
 75,
 66,
 34,
 69,
 70,
 92,
 40,
 37,
 48,
 74,
 85,
 80,
 7,
 51,
 79,
 38,
 57,
 83,
 58,
 18,
 63,
 74,
 64,
 72,
 74,
 30,
 65,
 81,
 58,
 59,
 17,
 0,
 80,
 65,
 20,
 69,
 47,
 47,
 47,
 44,
 47,
 73,
 60,
 44,
 19,
 75,
 11,
 2,
 31,
 39,
 9,
 9,
 55,
 60,
 11,
 74,
 7,
 57,
 48,
 42,
 22,
 58,
 75,
 17,
 47,
 7,
 38,
 3,
 59,
 38,
 47,
 20,
 88,
 23,
 67,
 57,
 61,
 47,
 48,
 47,
 47,
 47,
 82,
 27,
 33,
 27,
 1,
 7,
 1,
 3,
 0,
 0,
 6,
 31,
 1,
 0,
 8,
 0,
 24,
 33,
 15,
 0,
 0,
 0,
 50,
 5,
 46,
 1,
 27,
 2,
 31,
 18,
 5,
 24,
 0,
 20,
 35,
 0,
 22,
 70,
 0,
 0,
 4,
 13,
 5,
 7,
 56,
 23,
 2,
 6,
 0,
 66,
 7,
 0,
 0,
 32,
 19,
 0,
 76,
 35,
 1,
 0,
 14,
 39,
 3,
 46,
 17,
 41,
 6,
 19,
 5,
 4,
 4,
 34,
 10,
 52,
 87,
 35,
 27,
 8,
 8,
 77,
 31,
 27,
 27,
 2,
 65,
 5,
 13,
 43,
 13,
 50,
 36,
 27,
 27,
 32,
 45,
 10,
 7,
 1,
 32,
 52,
 27,
 5,
 27,
 7,
 48,
 0,
 0,
 26,
 52,
 0,
 16,
 37,
 6,
 24,
 0,
 15,
 37,
 43,
 73,
 60,
 47,
 25,
 69,
 61,
 57,
 17,
 17,
 0,
 3,
 1,
 2,
 3,
 33,
 48,
 11,
 50,
 17,
 34,
 66,
 15,
 8,
 8,
 2,
 55,
 43,
 48,
 18,
 13,
 52,
 0,
 66,
 45,
 9,
 0,
 40,
 44,
 66,
 6,
 28,
 2,
 48,
 10,
 31,
 64,
 0,
 15,
 26,
 45,
 36,
 1,
 32,
 36,
 0,
 14,
 16,
 64,
 13,
 44,
 2,
 6,
 44,
 44,
 31,
 6,
 11,
 52,
 75,
 69,
 57,
 57,
 78,
 59,
 52,
 52,
 89,
 89,
 82,
 34,
 9,
 48,
 41,
 9,
 33,
 25,
 19,
 10,
 0,
 2,
 21,
 0,
 0,
 10,
 43,
 51,
 10,
 72,
 38,
 35,
 10,
 82,
 0,
 1,
 5,
 54,
 44,
 55,
 12,
 0,
 65,
 21,
 0,
 61,
 24,
 81,
 0,
 10,
 0,
 2,
 64,
 1,
 0,
 4,
 6,
 6,
 0,
 6,
 5,
 10,
 4,
 1,
 9,
 35,
 4,
 34,
 9,
 0,
 2,
 0,
 23,
 0,
 3,
 4,
 0,
 0,
 3,
 16,
 0,
 22,
 17,
 9,
 65,
 1,
 1,
 81,
 55,
 18,
 10,
 10,
 55,
 2,
 0,
 3,
 34,
 1,
 5,
 13,
 0,
 10,
 41,
 27,
 8,
 0,
 6,
 35,
 22,
 1,
 14,
 0,
 54,
 75,
 19,
 88,
 19,
 78,
 2,
 1,
 31,
 41,
 8,
 7,
 8,
 6,
 0,
 3,
 21,
 0,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 85,
 64,
 38,
 88,
 49,
 40,
 17,
 79,
 30,
 66,
 56,
 17,
 14,
 19,
 19,
 19,
 28,
 19,
 19,
 19,
 54,
 0,
 19,
 46,
 13,
 20,
 22,
 35,
 2,
 44,
 21,
 31,
 34,
 22,
 43,
 51,
 1,
 6,
 36,
 16,
 49,
 57,
 65,
 34,
 25,
 6,
 7,
 29,
 33,
 0,
 7,
 1,
 10,
 8,
 25,
 65,
 44,
 2,
 40,
 36,
 65,
 25,
 61,
 12,
 35,
 21,
 55,
 7,
 27,
 0,
 0,
 0,
 10,
 29,
 88,
 6,
 11,
 30,
 8,
 62,
 10,
 47,
 87,
 50,
 65,
 0,
 66,
 10,
 16,
 32,
 12,
 35,
 2,
 30,
 89,
 12,
 50,
 50,
 16,
 13,
 75,
 8,
 12,
 37,
 25,
 4,
 4,
 39,
 63,
 62,
 55,
 9,
 6,
 21,
 17,
 27,
 12,
 52,
 29,
 92,
 18,
 1,
 91,
 12,
 12,
 12,
 12,
 12,
 12]

In [32]:
zips['Walkability'] = walks

In [33]:
zips

     Zip Code           City     County   Latitude  Longitude  Walkability
0        7001         Avenel  Middlesex  40.578996 -74.279870           63
1        7002        Bayonne     Hudson  40.666552 -74.117680           93
2        7003     Bloomfield      Essex  40.803000 -74.188950           59
3        7004      Fairfield      Essex  40.879049 -74.293780           47
4        7005        Boonton     Morris  40.912798 -74.415160           50
..        ...            ...        ...        ...        ...          ...
734      8906  New Brunswick  Middlesex  40.430006 -74.417344           12
735      8922  New Brunswick  Middlesex  40.430006 -74.417344           12
736      8933  New Brunswick  Middlesex  40.430006 -74.417344           12
737      8988  New Brunswick  Middlesex  40.430006 -74.417344           12
738      8989  New Brunswick  Middlesex  40.430006 -74.417344           12

[739 rows x 6 columns]

In [35]:
zips.to_csv("walkability.csv")

In [6]:
zips = pd.read_csv('../Municipalities/MuniLatLong.csv')
zips.head()

,Unnamed: 0,Municipality,MUNID,County,Latitude,Longitude,CrimeScore,EDUScore,WalkScore,TransitScore
0,0,Absecon,101,Atlantic County,39.428450,-74.495708,NaN,NaN,NaN,NaN
1,1,Atlantic City,102,Atlantic County,39.364283,-74.422927,NaN,NaN,NaN,NaN
2,2,Brigantine,103,Atlantic County,39.410117,-74.364591,NaN,NaN,NaN,NaN
3,3,Buena Borough,104,Atlantic County,39.531478,-74.938413,NaN,NaN,NaN,NaN
4,4,Buena Vista Township,105,Atlantic County,39.528110,-74.896267,NaN,NaN,NaN,NaN

In [3]:
walkBaseURI = 'http://api.walkscore.com/score?format=json&transit=1&bike=1&wsapikey=' + Walk_API
walks = []

for index,row in zips.iterrows():
    lat = row['Latitude']
    lon = row['Longitude']
    walkURL = f"{walkBaseURI}&lat={lat}&lon={lon}"
    walkingstatus = requests.get(walkURL).json()
    walks.append(walkingstatus['walkscore'])
#     bikes.append(walkingstatus['bike']['score'])
#     print(walkURL)

In [4]:
walks

[49,
 89,
 37,
 18,
 0,
 8,
 65,
 1,
 0,
 13,
 0,
 4,
 82,
 29,
 32,
 70,
 0,
 68,
 82,
 3,
 55,
 60,
 0,
 33,
 3,
 94,
 68,
 69,
 87,
 75,
 70,
 19,
 82,
 87,
 65,
 59,
 70,
 90,
 26,
 73,
 69,
 81,
 41,
 86,
 77,
 96,
 41,
 75,
 48,
 86,
 39,
 80,
 86,
 80,
 89,
 40,
 81,
 38,
 34,
 57,
 54,
 67,
 79,
 38,
 20,
 23,
 36,
 91,
 31,
 49,
 60,
 69,
 62,
 96,
 72,
 12,
 79,
 11,
 91,
 33,
 23,
 62,
 60,
 14,
 40,
 21,
 77,
 61,
 44,
 86,
 21,
 66,
 65,
 12,
 30,
 72,
 30,
 52,
 52,
 10,
 48,
 45,
 53,
 26,
 15,
 1,
 42,
 5,
 18,
 13,
 21,
 64,
 55,
 28,
 46,
 66,
 15,
 0,
 4,
 49,
 44,
 14,
 55,
 53,
 7,
 1,
 17,
 20,
 0,
 6,
 21,
 0,
 45,
 59,
 10,
 46,
 50,
 53,
 57,
 13,
 64,
 62,
 42,
 7,
 69,
 74,
 29,
 58,
 23,
 60,
 72,
 60,
 41,
 50,
 27,
 15,
 43,
 78,
 48,
 56,
 71,
 55,
 3,
 69,
 47,
 35,
 1,
 3,
 48,
 6,
 60,
 61,
 26,
 18,
 13,
 5,
 1,
 65,
 74,
 51,
 47,
 17,
 28,
 13,
 81,
 53,
 46,
 78,
 0,
 1,
 0,
 0,
 11,
 0,
 8,
 12,
 69,
 8,
 2,
 4,
 80,
 85,
 63,
 92,
 70,
 88,
 61,
 23,
 18,
 65,
 75,
 18,
 82,
 21,
 60,
 94,
 8,
 72,
 51,
 58,
 81,
 29,
 43,
 62,
 40,
 2,
 1,
 1,
 68,
 52,
 0,
 0,
 45,
 39,
 36,
 24,
 57,
 67,
 2,
 52,
 49,
 27,
 11,
 52,
 81,
 21,
 6,
 91,
 80,
 91,
 82,
 99,
 99,
 76,
 86,
 66,
 98,
 88,
 97,
 0,
 0,
 31,
 29,
 65,
 2,
 1,
 0,
 77,
 15,
 47,
 7,
 15,
 29,
 19,
 7,
 86,
 38,
 0,
 51,
 8,
 7,
 31,
 0,
 19,
 0,
 58,
 46,
 17,
 66,
 52,
 2,
 31,
 55,
 70,
 39,
 79,
 9,
 71,
 9,
 80,
 23,
 56,
 21,
 83,
 53,
 88,
 57,
 43,
 6,
 80,
 25,
 36,
 85,
 28,
 33,
 51,
 62,
 14,
 45,
 74,
 44,
 64,
 40,
 41,
 47,
 95,
 61,
 52,
 91,
 84,
 28,
 31,
 29,
 48,
 42,
 72,
 52,
 90,
 10,
 37,
 57,
 23,
 1,
 33,
 57,
 71,
 78,
 58,
 50,
 81,
 7,
 28,
 3,
 62,
 14,
 4,
 19,
 73,
 59,
 20,
 18,
 89,
 6,
 54,
 51,
 44,
 53,
 44,
 60,
 33,
 30,
 35,
 0,
 14,
 47,
 72,
 7,
 72,
 84,
 4,
 58,
 3,
 67,
 83,
 34,
 58,
 44,
 2,
 1,
 49,
 67,
 4,
 88,
 42,
 13,
 21,
 31,
 13,
 8,
 93,
 29,
 3,
 24,
 65,
 52,
 35,
 4,
 44,
 64,
 14,
 1,
 46,
 0,
 48,
 36,
 8,
 46,
 57,
 73,
 0,
 70,
 16,
 27,
 18,
 0,
 0,
 43,
 45,
 49,
 17,
 25,
 2,
 2,
 33,
 2,
 28,
 0,
 85,
 60,
 62,
 35,
 44,
 38,
 20,
 41,
 68,
 49,
 66,
 32,
 73,
 66,
 16,
 41,
 95,
 99,
 75,
 66,
 14,
 25,
 31,
 25,
 56,
 27,
 1,
 42,
 52,
 0,
 0,
 0,
 0,
 61,
 1,
 0,
 23,
 2,
 0,
 57,
 1,
 54,
 0,
 6,
 82,
 62,
 5,
 20,
 43,
 21,
 4,
 36,
 64,
 18,
 4,
 45,
 24,
 83,
 31,
 64,
 57,
 18,
 36,
 24,
 0,
 29,
 2,
 0,
 48,
 42,
 0,
 0,
 45,
 24,
 4,
 81,
 28,
 2,
 57,
 21,
 3,
 52,
 31,
 3,
 0,
 46,
 69,
 68,
 94,
 70,
 86,
 76,
 84,
 61,
 34,
 65,
 59,
 71,
 71,
 74,
 38,
 39,
 76,
 89,
 64,
 30,
 17,
 49,
 49,
 49,
 0,
 1,
 2,
 79,
 0,
 8,
 29,
 0,
 0,
 0,
 8,
 0,
 0,
 61,
 2,
 68,
 17,
 2]

In [9]:
zips.drop(columns={"Unnamed: 0"}, inplace=True)

In [10]:
zips['Walkability'] = walks
zips

,Municipality,MUNID,County,Latitude,Longitude,CrimeScore,EDUScore,WalkScore,TransitScore,Walkability
0,Absecon,101,Atlantic County,39.428450,-74.495708,NaN,NaN,NaN,NaN,49
1,Atlantic City,102,Atlantic County,39.364283,-74.422927,NaN,NaN,NaN,NaN,89
2,Brigantine,103,Atlantic County,39.410117,-74.364591,NaN,NaN,NaN,NaN,37
3,Buena Borough,104,Atlantic County,39.531478,-74.938413,NaN,NaN,NaN,NaN,18
4,Buena Vista Township,105,Atlantic County,39.528110,-74.896267,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
560,Phillipsburg,2119,Warren County,40.693710,-75.190176,NaN,NaN,NaN,NaN,61
561,Pohatcong Township,2120,Warren County,40.633355,-75.160375,NaN,NaN,NaN,NaN,2
562,Washington Borough,2121,Warren County,40.758433,-74.979338,NaN,NaN,NaN,NaN,68
563,Washington Township,2122,Warren County,40.769917,-74.988468,NaN,NaN,NaN,NaN,17
564,White Township,2123,Warren County,40.812195,-75.049433,NaN,NaN,NaN,NaN,2

In [11]:
zips.to_csv("WalkScoreByMuni.csv")