In [8]:
import pandas as pd

In [9]:
edu_df = pd.read_csv("eduSliderMuniID.csv")

In [10]:
edu_df.dtypes

Rank              int64
School           object
Address          object
City             object
Municipal ID      int64
Zip               int64
District         object
Full_Address     object
Latitude        float64
Longitude       float64
EduScore          int64
dtype: object

In [13]:
muniEDU = pd.DataFrame(edu_df.groupby('Municipal ID').mean())
muniEDU

               Rank     Zip   Latitude  Longitude  EduScore
Municipal ID
101             9.0  8106.0  39.884485 -75.075760     254.0
102             8.0  8401.0  39.366993 -74.477057      74.0
104            32.0  8310.0  39.536387 -74.918776     130.0
107            85.0  8215.0  39.551762 -74.628038     200.0
108            86.0  8234.0  39.394775 -74.628515     292.0
...             ...     ...        ...        ...       ...
2103           15.0  7823.0  40.824932 -75.066663     228.0
2104           20.0  7825.0  40.981884 -74.990800     256.0
2108          122.0  7840.0  40.843186 -74.830174     339.0
2119          298.0  8865.0  40.714597 -75.183210     296.0
2121          386.5  7882.0  40.758227 -75.003997     194.5

[282 rows x 5 columns]

In [15]:
muniEDU.to_csv("MuniEduScaled.csv")